---
import "../styles/default.scss";
import og from "../images/og-image.png";
import Header from '../components/Header.jsx';
import Footer from '../components/footer.jsx';
import Homepage from '../components/Homepage.astro';
const email_current="quirozben24@icloud.com";
const phone_current="425-610-5085";
---
<html lang="en">
	<head>
		<title>BW Gutter Installation Services</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml">
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content="BW Gutter Installation Services">
		<meta name="description" content="Gutter installation and repair services in Seattle and surrounding area. 
		Call us at (425) 610-5085 or email us to schedule a service today. We offer a variety of services.">
		<meta property="og:title" content="BW Gutter Installation Services">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://bwgutter.com/" />
		<meta property="og:image" content='https://bwgutter.com/og-image.png'/>
		<meta property="site_name" content="BW Gutter Installation Services"/>
		<meta name="theme-color" content="#4F4A3B"/>
		<meta name="google-site-verification" content="2Hz3InFg83CpsWDhu_eqDGReAOwtfxi9wNoviXv_h_U">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<script type="application/ld+json">
			{
		   "@context" : "https://schema.org",
			"@type" : "HomeAndConstructionBusiness",
			"areaServed": {
			"@type": "GeoCircle",
			"geoMidpoint": {
				"@type": "GeoCoordinates",
				"latitude": 47.455018,
				"longitude": -122.275665
			},
			"geoRadius": 100
		},
		"email" : "quirozben24@icloud.com",
		"keywords" : "gutter installations, downspouts, gutters, gutter screen protectors, gutter repair",
		"knowsLanguage" : "English, Spanish",
		"currenciesAccepted" : "USD",
		"priceRange" : "Request a Free Consultation",
		"name" : "Bw Gutter Installation Services",
		"url" : "https://bwgutter.com/"
	}
</script>
 
	</head>
	<body>
	<header>
	<Header email={email_current} phone={phone_current} client:load/>
	</header>
	<Homepage/>
	<footer>
		<Footer/>
	</footer>
	</body>
</html>
